{{ with .Page.Params.Images}}
<div class="image-scroller-wrapper">
    <div class="image-scroller">
        {{ $id := 1 }}
        {{ range .}}
        {{ $image := resources.Get (printf "/images/%s" .) }}
        {{ $imageUrl := ($image.Resize "x800 webp").RelPermalink }}
        <div class="image" id="image-{{ $id }}">
            <a href="{{ $imageUrl }}" target="_blank"><img src="{{ $imageUrl }}" alt="Post image"></a>
        </div>
        {{ $id = add $id 1 }}
        {{ end }}
    </div>
    {{ if gt (len .) 1 }}
    <nav>
        {{ $id := 1 }}
        {{ range .}}
        <a href="#image-{{ $id }}"></a>
        {{ $id = add $id 1 }}
        {{ end }}
        <script defer>
            document.addEventListener('DOMContentLoaded', function() {
                const scroller = document.querySelector('.image-scroller');
                document.querySelectorAll('.image-scroller-wrapper nav a').forEach(link => {
                    link.addEventListener('click', function(e) {
                        e.preventDefault();
                        const targetId = this.getAttribute('href').replace('#', '');
                        const target = document.getElementById(targetId);
                        scroller.scrollTo({
                            left: target.offsetLeft
                        });
                    });
                });
            });
        </script>
    </nav>
    {{ end }}
</div>
{{ end }}