<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="robot" content="noindex nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Page.Params.Title }} | BriCroches🧶</title>
    <link rel="canonical" href="{{ .Page.Permalink }}">
    <link rel="shortcut icon" href="/favicon.webp" type="image/x-icon">
    {{ with resources.Get "css/style.scss" | toCSS | minify | fingerprint}}<link rel="stylesheet" href="{{ .RelPermalink }}">{{ end }}
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

<body>
    {{ partial "header.html" }}
    <main>
        {{ partial "image-scroller.html" . }}
        <h1>{{ .Page.Title }}</h1>
        <article>
            {{ .Page.Content }}
        </article>
        <p><i>Date: {{ .Page.Params.Date.Format "02/01/2006" }}</i></p>
        <div class="tags">
            <p>Tags:</p>
            {{ range .Page.Params.Tags }} <a href="/tags/{{ . }}">{{ . }}</a> {{ end }}
        </div>
        <div class="related">
            <h2>Related:</h2>
            {{ range site.RegularPages.Related . | first 3 }}
            <a href="{{ .RelPermalink}}">
                <h3>{{ .Title }}</h3>
                {{ with .Params.images }}
                {{ $image := resources.Get (printf "/images/%s" (index . 0)) }}
                {{ if $image }}<img src='{{ ($image.Resize "x800 webp").RelPermalink }}' alt="" width="300px">{{ end }}
                {{ end }}
            </a>
            {{ end }}
        </div>
    </main>
    {{ partial "footer.html" }}
</body>

</html>